* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body {
    padding: 100px 0;
    background-color: var(--md-sys-color-background);
}

a {
    text-decoration: none;
}

.very-main-color {
    color: var(--md-sys-color-primary);
}

.text-main-color {
    color: var(--md-sys-color-on-background);
}

.text-second-color {
    color: var(--md-sys-color-secondary);
}

.text-third-color {
    color: var(--md-sys-color-tertiary);
}

pre {
    background-color: var(--md-sys-color-secondary-container);
    border-radius: 10px;
    padding: 6px;
}

.xxx {
    margin: 0 auto;
    padding: 0 30px;
    width: 100%;
    max-width: 830px;
}
.note-title {
    font-size: 47px;
}

.note-content {
    margin-top: 30px;
}

.note-title,
.note-content {
    word-break: break-all;
}

.note-date {
    margin-top: 40px;
}

h2 {
    line-height: 50px;
}

p {
    line-height: 27px;
}