* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    background-color: var(--md-sys-color-background);
}

a {
    text-decoration: none;
}

.very-main-color {
    color: var(--md-sys-color-primary);
}

.text-main-color {
    color: var(--md-sys-color-on-background);
}

.text-second-color {
    color: var(--md-sys-color-secondary);
}

.text-third-color {
    color: var(--md-sys-color-tertiary);
}

.xxx {
    max-width: 830px;
}

.xxx .hr {
    margin: 0 auto;
    width: 300px;
    height: 1px;
    color: var(--md-sys-color-outline);
}

.notetype-content {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 30px;
}

.notetype-notebox {
    height: 200px;
    width: 180px;
    flex: 0 0 auto;
    border-radius: 30px;
    padding: 15px;
    background-color: var(--md-sys-color-tertiary-container);

    transition: transform 0.1s ease;
}

@media(max-width:768px) {
    .notetype-notebox{
        width: 100%;
    }
    .xxx {
        width: 348px;
    }
}

.notetype-notebox:active {
    transform: scale(0.95);
}

.warn {
    margin: 20px auto;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-items: center;
    padding: 15px;
    background-color: var(--md-sys-color-error);
}

.warn img {
    margin: 0 20px;
}

.warn p {
    color: var(--md-sys-color-on-error);
}

.notetype-notebox 
.note-date,
.note-title {
    color: var(	--md-sys-color-tertiary);
}

.note-date {
    font-size: 13px;
}

.note-title {
    margin-top: 5px;
    font-size: 25px;
}